body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(96, 143, 243), rgb(60, 12, 136));
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color:white;
}

h2 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

aside {
    display: flex;
    flex-direction: column;
}

.forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.day-forecast {
    display: flex;
    flex-direction: column;
}

.five-day-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}