body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(96, 143, 243), rgb(60, 12, 136));
}

main {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

/* city-search */
aside {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding-right: 2%;
}

/* Adding visual divider after Serach button */
hr {
    border-top: 3px solid black;
    border-radius: 3px;
    width: 100%;
}

h1 {
    font-size: 2rem;
    color:white;
}

h2 {
    margin: 0;
}

.forecast {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.day-forecast {
    display: flex;
    flex-direction: column;
}

.five-day-forecast {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}